.photo-grid {
  margin: 92px auto 0;
}

@media screen and (max-width: 900px) {
  .photo-grid {
    margin-top: 88px;
  }
}

@media screen and (max-width: 600px) {
  .photo-grid {
    margin-top: 64px;
  }
}
