.body {
  background-color: #2A2C2F;
  color: #fff;
}

.page {
  margin: 0 auto;
  padding: 0 48px;
  box-sizing: border-box;
  font-family: 'Inter';
  overflow: hidden;
}

/* Header */

.header {
  margin-top: 28px;
  display: flex;
  justify-content: space-between;
}

.header__logo {
  width: 176px;
  height: 52px;
}

.header__lang-links {
  margin-bottom: 5px;
  display: flex;
  align-items: flex-end;
}

.header__lang-link {
  margin-left: 18px;
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  line-height: 28px;
}

.header__lang-link:hover {
  text-decoration: underline;
}

/* Lead section */

.lead {
  margin: 0 100px;
}

.lead__title {
  width: 80%;
  margin: 56px auto 32px;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
}

.lead__subtitle {
  width: 60%;
  margin: 0 auto 64px;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

.lead__image {
  width: 100%;
  margin: 0 auto;
  background-image: url('images/lead-polka.jpg');
  background-size: cover;
  object-fit: fill;
}

.lead__caption {
  margin: 0;
  margin-top: 10px;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

/* Intro section */

.intro {
  margin: 0 100px;
}

.intro__title {
  width: 70%;
  margin: 0;
  margin-top: 92px;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
}

.intro__text {
  width: 70%;
  margin: 0;
  margin-top: 40px;
  font-size: 16px;
  line-height: 1.5;
}

.intro__list {
  padding: 0;
  margin: 0;
  margin-top: 33px;
  list-style-type: none;
  font-size: 12px;
  line-height: 18px;
}

.intro__list-item_bold {
  font-weight: 700;
}

/* Photo-grid */

.photo-grid {
  margin: 92px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-rows: repeat(3, 1fr); */
  gap: 15px;
}

.photo-grid__item {
  width: 100%;
}

/* Places */

.places {
  margin: 0 100px;
}

.place {
  margin-bottom: 80px;
}

.place__title {
  width: 45%;
  margin: 0;
  margin-right: 4%;
  display: inline-block;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
}

.place__website {
  display: inline-block;
}

.place__url-heading {
  margin: 0;
  margin-bottom: 10px;
  color: #AAA;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
}

.place__link {
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.place__wrapper {
  display: flex;
  margin-top: 50px;
}

.place__image {
  width: 45%;
  height: 100%;
  margin-right: 4%;
}

.place__paragraph {
  max-width: 480px;
  margin: 0;
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
}
/* Media */

@media screen and (max-width: 1280px) {
  .page {
    width: 1280px;
  }
}

@media screen and (max-width: 1024px) {
  .page {
    width: 1024px;
  }

  .lead {
    margin: 0;
  }

  .lead__title {
    width: 70%;
  }

  .lead__subtitle {
    width: 65%;
  }

  .intro {
    margin: 0;
  }

  .photo-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .places {
    margin: 0;
  }

}
