.cover {
  width: calc(100% - 48px * 2);
  margin: 90px auto 0;
  box-sizing: border-box;
}

@media screen and (max-width: 1150px) {
  .cover {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .cover {
    margin-top: 66px;
  }
}
