.cover {
  width: calc(100% - 48px * 2);
  margin: 90px auto 0;
  position: relative;
  min-height: 740px;
  box-sizing: border-box;
}

@media screen and (max-width: 1150px) {
  .cover {
    width: 100%;
    min-height: 640px;
  }
}

@media screen and (max-width: 900px) {
  .cover {
    min-height: 480px;
  }
}

@media screen and (max-width: 600px) {
  .cover {
    min-height: 200px;
    margin-top: 66px;
  }
}
