.cover__background {
  min-height: 740px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  position: relative;
  background-image: url('../../../images/cover-trains.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: fill;
  width: 100%;
  z-index: 1;
  text-align: center;
  text-decoration: none;
  color: #fff;
}

.cover__background::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #2A2C2F;
  opacity: .3;
  transition: opacity .3s linear;
}

.cover__background:hover::after {
  opacity: .8;
}

@media screen and (max-width: 1150px) {
  .cover__background {
    min-height: 640px;
  }
}

@media screen and (max-width: 900px) {
  .cover__background {
    min-height: 480px;
  }
}

@media screen and (max-width: 600px) {
  .cover__background {
    min-height: 200px;
    gap: 16px;
  }
}
